
<link href="~/css/project.css" rel="stylesheet" />

<div id="app" v-cloak>
    <delete_alert v-if="deleteAlert" v-on:deletealert="deletealert" v-on:deleteproject="deleteproject"></delete_alert>

    <add_admin v-if="addAdminBox"
               :notadminsproject="notadminsproject"
               :adminsproject="adminsproject"
               v-on:addadmin="addadmin"
               v-on:deleteadmin="deleteadmin"
               v-on:close="addAdminBox = false"></add_admin>


    <add_jury v-if="addJuryBox"
              :notadminsproject="notjuryproject"
              :adminsproject="juryproject"
              v-on:addjury="addjury"
              v-on:deleteadmin="deletejury"
              v-on:close="addJuryBox = false"></add_jury>

    <info v-if="infoBool" v-bind:infoposition="infoposition" v-bind:infodata="infoData"></info>

    <div class="project_actions_box" :style="'width: calc(100% - ' + project_width  + 'px );'">
        <h3 v-if="!editMode">{{data.Project.Name}}</h3>
        <input id="projectName" v-else type="text" placeholder="Название проектной деятельности" :value="data.Project.Name">

        <a class="button button_blue" :href="'/project/' + data.Project.ProjectId + '/marks'">Оценки</a>

        <div class="admin_actions" v-if="data.IsUserAdmin">
            <div class="button button_red" v-if="!editMode" v-on:click="deleteAlert=true">Удалить ПД</div>

            <div class="button button_green" v-if="!editMode" v-on:click="StartEdit">Редактировать</div>
            <div class="button button_grey" v-else v-on:click="EndEdit">Сохранить</div>
        </div>
    </div>



    <div class="news_box" :style="'right:' + news_pos + 'px'">
        <h5 class="box_close_title" v-if="news_pos_change">Новости</h5>
        <h5 style="margin-left: -80px">
            <span style="margin-right: 60px" class="span_arrow" v-on:click="box_resize('news')" v-if="!news_pos_change">▶</span>
            <span style="margin-right: 60px" class="span_arrow" v-on:click="box_resize('news')" v-else>◀</span>
            Новости
        </h5>
        <div class="news" v-if="!news_pos_change">
            <ul>
                <li v-for="news in data.News">
                    <span class="delete_news" v-on:click="deleteNew(news.NewId)" v-if="data.IsUserAdmin">❌</span>
                    <img :src="news.Author.Photo50" :title="news.Author.FirstName + ' ' + news.Author.LastName" style="border-radius: 100px; width: 45px; margin-left: -18px;" />
                    <p style="margin-bottom: 10px;">{{news.Text}}</p>
                    <br>
                    <span class="news_data">{{news.Date}}</span>
                </li>
            </ul>
            <textarea v-if="data.IsUserAdmin" :disabled="news_textarea_desabled" rows="7" placeholder="Текст новости (для отправки нажмите Enter)" v-model="news_text" v-on:keyup.enter.preventDefault="addNew()"></textarea>
        </div>

    </div>



    <div class="user_list_box" :style="'right:' + admins_pos + 'px'">
        <h5 class="box_close_title" v-if="admins_pos_change" style="left:-55px; top: 160px;">Администраторы</h5>
        <h5 style="margin-left: -25px; margin-bottom: 20px;">
            <span style="margin-right: 10px" class="span_arrow" v-on:click="box_resize('admin')" v-if="!admins_pos_change">▶</span>
            <span style="margin-right: 10px" class="span_arrow" v-on:click="box_resize('admin')" v-else>◀</span>
            Администраторы
        </h5>
        <ul v-if="!admins_pos_change">
            <li v-on:mousemove="ShowInfo($event, admin)" v-for="admin in data.ProjectAdmins"
                v-on:mouseleave="infoBool = false">
                <a target="_blank" :href="'https://vk.com/id' + admin.VkId">
                    <img :src="admin.Photo50">
                    <p>{{admin.FirstName}} {{admin.LastName}}</p>
                </a>
            </li>
            <li class="button button_green add_admin_button" v-on:click="addAdminBox = true" v-if="data.IsUserAdmin">
                Изменить
            </li>
        </ul>

        <h5 v-if="!admins_pos_change">Жюри</h5>
        <ul v-if="!admins_pos_change" style="margin-bottom: 50px;">
            <li v-on:mousemove="ShowInfo($event, jury)" v-for="jury in data.ProjectJury"
                v-on:mouseleave="infoBool = false">
                <a target="_blank" :href="'https://vk.com/id' + jury.VkId">
                    <img :src="jury.Photo50">
                    <p>{{jury.FirstName}} {{jury.LastName}}</p>
                </a>
            </li>
            <li class="button button_green add_admin_button" v-on:click="addJuryBox = true" v-if="data.IsUserAdmin">
                Изменить
            </li>
        </ul>
        <h5 v-if="!admins_pos_change">Пользователи, <br> вступившие в команды</h5>
        <ul v-if="!admins_pos_change" class="usersInTeamUl">
            <li v-for="user in data.Users" v-on:mousemove="ShowInfo($event, user)"
                v-on:mouseleave="infoBool = false">
                <a :href="'https://vk.com/id' + user.VkId">
                    <img :src="user.Photo50">
                    <p>{{user.FirstName}} {{user.LastName}}</p>
                </a>
            </li>
        </ul>

        <h5 v-if="!admins_pos_change">Пользователи, <br>НЕ вступившие в команды</h5>
        <ul v-if="!admins_pos_change" class="usersNotInTeamUl">
            <li v-for="user in data.UsersNotInTeams" v-on:mousemove="ShowInfo($event, user)"
                v-on:mouseleave="infoBool = false">
                <a :href="'https://vk.com/id' + user.VkId">
                    <img :src="user.Photo50">
                    <p>{{user.FirstName}} {{user.LastName}}</p>
                </a>
            </li>
        </ul>
    </div>


    <div class="project_list" :style="'width: calc(100% - ' + project_width  + 'px );'">
        <!--<div class="team team_disabled" v-if="editMode" v-for="n in 8">
            <h3 style="cursor:default;">Команда {{n}}</h3>
            <p v-if="editMode">Пока ни один студент <br> не вступил в данную команду</p>
            <h2 v-if="editMode">3 Х 2</h2>
        </div>-->

        <div class="team team_active" v-for="team in data.Teams" :style="{borderColor: (data.IsUserInTeam == team.TeamId) ? 'rgba(0,0,255,0.4)' : 'lightgray', background: (data.IsUserInTeam == team.TeamId) ? 'rgba(0,0,255,0.04)' : 'white'}">
            <span class="team_status" style="background-color: #ff9900" v-if="(typeof applications[team.TeamId] != 'undefined') && !applications[team.TeamId].Checked">Ваша заявка обрабатывается &nbsp; <img style="width:20px;" src="/imgs/load.gif" /></span>
            <span class="team_status" style="background-color: rgba(20, 146, 8, 0.952)" v-else-if="data.IsUserInTeam != team.TeamId">Запись открыта</span>
            <span class="team_status" style="background-color: rgba(0,0,255,0.8)" v-else-if="data.IsUserInTeam == team.TeamId">Вы состоите в данной команде</span>
            <span class="team_delete" v-if="editMode" v-on:click="deleteTeam(team.TeamId)">❌</span>
            <div class="team_img" :style=" 'background-image: url(' + team.Img +  ')'"></div>

            <div class="team_content">
                <div class="team_block">
                    <span>Проект</span>
                    <h3 class="team_title" v-if="!editMode">{{team.Title}}</h3>
                </div>
                <input v-on:change="teamChange(team, 'title', $event.target.value)" type="text" :value="team.Title" style="width: 80%; margin-top: -30px; margin-bottom: 15px;" v-if="editMode" />

                <div class="team_block">
                    <span>Тип проекта</span>
                    <p class="team_description" v-if="!editMode">
                        {{team.Type}}
                    </p>
                </div>
                <input v-on:change="teamChange(team, 'type', $event.target.value)" type="text" :value="team.Type" style="width: 80%; margin-top: -30px; margin-bottom: 15px;" v-if="editMode" />

                <div class="team_block">
                    <span>Описание</span>
                    <p class="team_description" v-if="!editMode">
                        {{team.Description}}
                    </p>
                </div>
                <textarea v-on:change="teamChange(team, 'desc', $event.target.value)" style="width: 80%; margin-top: -30px; margin-bottom: 15px;" v-if="editMode">{{team.Description}}</textarea>

                <div class="team_block">
                    <span>Требования</span>
                    <p class="team_count" v-if="!editMode">{{team.MaxCount1}} перв. Х {{team.MaxCount2}} втор.</p>
                    <p class="team_count" v-if="editMode">
                        <input v-on:change="teamChange(team, 'maxcount1', $event.target.value)" type="number" min="1" :value="team.MaxCount1" style="width: 35px; padding: 2px;" /> перв.
                        Х <input v-on:change="teamChange(team, 'maxcount2', $event.target.value)" type="number" min="1" :value="team.MaxCount2" style="width: 35px; padding: 2px;" /> втор.
                    </p>
                </div>

                <div class="team_block">
                    <span>Участники  &nbsp; <span :style="{color: (team.Count1 == team.MaxCount1) ? 'red' : 'green'}">{{team.Count1}}/{{team.MaxCount1}}</span> &nbsp; <span :style="{color: (team.Count2 == team.MaxCount2) ? 'red' : 'green'}">{{team.Count2}}/{{team.MaxCount2}}</span></span>
                    <div class="team_users">
                        <p v-if="data.TeamUsers[team.TeamId].length == 0">Никто еще не вступил в эту команду...</p>
                        <a :title="u[0] + ' ' + u[1]" v-if="!editMode" v-for="u in data.TeamUsers[team.TeamId]" :href="'https://vk.com/id' + u[2]" :style="{backgroundImage: 'url(' + u[3] + ')'}"></a>
                        <a :title="'Исключить из команды' + u[0] + ' ' + u[1]" v-if="editMode" v-on:click="deleteFromTeam(team.TeamId, u[2])" class="delUser" v-for="u in data.TeamUsers[team.TeamId]" href="#" :style="{backgroundImage: 'url(' + u[3] + ')'}"></a>
                        <p class="addUs" title="Добавить участников" v-if="editMode" v-on:click="addUserFromAdminFunc(team.TeamId, '')">+</p>
                    </div>
                </div>

                <div class="team_buttons">
                    <button class="button button_green" v-if="!(data.IsUserAdmin || data.IsUserJury || data.IsUserInTeam != -1) && !data.UserApplicationTeamsId.includes(team.TeamId)" v-on:click="joinTeam(team.TeamId)">Вступить</button>
                    <button class="button button_orange" v-else-if="(typeof applications[team.TeamId] != 'undefined') && !applications[team.TeamId].Checked" v-on:click="deleteApplication(team.TeamId, data.CurrentUser.UserId)">Отменить заявку</button>
                    <button class="button button_red" v-else-if="(typeof applications[team.TeamId] != 'undefined') && applications[team.TeamId].Checked && !applications[team.TeamId].Successed" v-on:click="deleteApplication(team.TeamId, data.CurrentUser.UserId)">Ваша заявка отклонена</button>
                    <button class="button button_red" v-else-if="data.IsUserInTeam == team.TeamId" v-on:click="exitTeam(team.TeamId)">Выйти</button>
                    <a :href="'/project/' + team.ProjectId + '/team/' + team.TeamId" class="button button_grey">Подробнее</a>
                    <!--'project/' + team.ProjectId + '/team/' + team.TeamId-->
                </div>
            </div>
        </div>


        <div class="team add_team" v-if="editMode" v-on:click="showAddTeams = true">
            <h1>+</h1>
            <p>Добавить команды</p>
        </div>
    </div>

    <div class="dark" v-if="addUserFromAdmin != ''"></div>
    <div class="addUsInTeam" v-if="addUserFromAdmin != ''">
        <div class="usersNotInTeams">
            <span v-on:click="addUserFromAdmin = ''">❌</span>
            <input placeholder="Поиск" type="text" v-on:input="addUserFromAdminFunc(addUserFromAdmin, $event.target.value)" />
            <p v-if="usersNotInTeams.length == 0">По запросу не найден ни один пользователь</p>
            <ul v-for="user in usersNotInTeams">
                <li>
                    <img :src="user.Photo50" style="width: 50px; border-radius: 100px;" />
                    <a :href="'https://vk.com/' + user.VkId">{{user.FirstName}} {{user.LastName}} ({{user.Course}}.{{user.Group}})</a>
                    <button class="button button_green" style="font-size: 20px; padding: 0 8px;" v-on:click="addUserById(user.VkId)">+</button>
                </li>
            </ul>
        </div>
    </div>



    <div class="create_project_box" v-if="showAddTeams">
        <div class="dark2"></div>

        <div class="create_project">
            <form action="" method="post" class="new_project_form" v-on:submit.prevent="formSubmit">
                <p style="margin:20px 0 0px 0; font-size: 30px; cursor:pointer; position: relative; right: 48%;" v-on:click="showAddTeams=false">🞪</p>
                <h4 style="margin-top: 0;">Добавление команд</h4>
                <team v-for="(team, i) in team_inputs" :key="team.id" v-on:changedata="change" v-on:deletedata="deleteteam"
                      :id="team.id"></team>

                <p class="button button_green" v-on:click="addTeam()">+ Добавить команды</p>
                <h5 class="sum_students" style="padding: 10px 50px;
                                             border-top: 2px solid lightgrey;
                                             border-bottom: 2px solid lightgrey;">
                    Будет добавлено студентов: {{students}}
                </h5>
                <button class="button button_blue" type="submit" v-if="submitButton">Создать</button>
                <button class="button button_blue" type="submit" v-else disabled>Идет создание команды...</button>
            </form>
            </div>
    </div>
</div>
        <script src="~/js/project.js"></script>
